@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', serif;
}

:root {
    --cor-de-fundo: #010626;
    --cor-secundaria: #021859;
}

/* ------------------------------------ Header ------------------------------------ */

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--cor-de-fundo);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
}

#logo {
    display: flex;
    align-items: center;
}

.img_logo {
    width: 5em;
    margin: 0 5px;
}

.user-icon {
    width: 2em;
    margin: 0 5px;
}

#links {
    display: flex;
    list-style-type: none;
}

#burger {
    display: none;
    cursor: pointer;
}

menu {
    display: flex;
}

#links>menu>li {
    width: 150px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, nav {
    font-family: "Graduate", serif;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.active {
    background-image: url("../img/retangulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------------------------ Main ------------------------------------ */

main {
    min-height: 100vh;
}

strong {
    color: cyan;
}

#slogan {
    font-size: 4rem;
}

.botao {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    padding: 30px 30px;
    color: white;
    border: none;
    background-image: url("../img/retangulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#primary {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

#primary>img {
    width: 40%;
    min-width: 40%;
}

#descricao {
    margin-top: 20vh;
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;
    align-content: center;
    text-align: center;
}

#mid-content {
    height: 100vh;
}

#destaques {
    /* overflow: hidden; */
    width: 50%;
}

#destaques>img {
    width: 100px;
}

.textao {
    background-color: var(--cor-secundaria);
    padding: 50px;
    margin: 0 30px;
}

.column {
    display: flexbox;
}

.Principal{
    width: 70%;
    height: 100vh;
    background-color: #021859;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.cadastro{
    font-family: 'Graduate';
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.registro {
    display: flex;
    flex-direction: column;
    margin: 10px 50px;
}

#User{
    height: 20rem;
}

/* ----------------------------- Games ----------------------------- */

section {
    padding: 50px;
}

.joguinho img {
    min-width: 300px;
    max-width: 40vw;
}

.joguinho {
    height: 70vh;
    background: var(--cor-secundaria);
}

#principal{
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
 
#tituloGames{
    margin-top: 20vh;
}
 
.botao1 {
    padding: 10px 20px;
    background:#7C05F2;
    color: #FFFFFF;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 0px 20px;
    bottom: 50px;
    left: 75%;
    position: relative;
}

/* ----------------------------- Recursos ----------------------------- */

.principal1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: auto;
    width: 70%;
    height: 70vh;
    margin-top: 11%;
    border: 3px solid #7C05F2;
    margin: 10%;
}

/* ----------------------------- Rodapé ----------------------------- */

footer {
    color: #FFFFFF;
    padding: 5px;
    background-color: #021859;
    font-family: Roboto;
    justify-content: space-between;
    height: 150px;
    display: flex;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    left: 0;
}

#redes_sociais {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#icones_redes_sociais {
    color: #FFFFFF;
    display: flex;
    justify-content: start;
}

.img_rede_social {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.texto_rodape {
    padding: 6px;
    background-color: rgb(48, 168, 242, 6%);
    border-radius: 8px;
}

#rodape {
    display: flex;
}

#Direito {
    display: flex;
    align-items: end;
    font-size: 12px;
}

.opçoes {
    padding: 4px;
}

.EmpresaContato {
    margin-right: 1rem;
}

@media (max-width: 900px) {
    .img_logo+h1 {
        display: none;
    }
    #burger {
        display: flex;
        align-items: center;
    }
    #menu {
        display: none;
    }
    #slogan {
        font-size: 3rem;
    }
}