@import url('https://fonts.googleapis.com/css2?family=Graduate&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    color: white;
    /* border: 1px solid red; */
}

body {
    background-color: var(--cor-de-fundo);
    font-family: 'Roboto', serif;
}

:root {
    --cor-de-fundo: #010626;
    --cor-secundaria: #021859;
}

/* ------------------------------------ Header ------------------------------------ */

header {
    display: flex;
    width: 100%;
    height: 100px;
    background-color: var(--cor-de-fundo);
    align-items: center;
    justify-content: space-between;
    position: fixed;
    top: 0;
    z-index: 100;
    box-shadow: 0px 1px 10px black;
}

#logo {
    display: flex;
    align-items: center;
}

.img_logo {
    width: 5em;
    margin: 0 5px;
}

.user-icon {
    width: 2em;
    margin: 0 5px;
}

#links {
    display: flex;
    list-style-type: none;
}

#burger {
    display: none;
    cursor: pointer;
}

menu {
    display: flex;
}

#links>menu>li {
    width: 150px;
    padding: 10px;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

h1, nav {
    font-family: "Graduate", serif;
}

a {
    text-decoration: none;
    display: flex;
    align-items: center;
}

.active {
    background-image: url("../img/retangulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

/* ------------------------------------ Main ------------------------------------ */
/* ------------------------------------ Index ------------------------------------ */

main {
    margin-top: 100px;
    min-height: 100vh;
}

strong {
    color: cyan;
}

#slogan {
    font-size: 4rem;
}

.botao {
    margin-top: 20px;
    justify-content: center;
    text-align: center;
    padding: 30px 30px;
    color: white;
    border: none;
    background-image: url("../img/retangulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
}

#primary {
    margin-top: 50px;
    width: 100%;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-wrap: wrap-reverse;
    align-content: center;
    justify-content: space-evenly;
    text-align: center;
}

#primary>img {
    width: 40%;
    min-width: 40%;
}

#destaques {
    overflow: hidden;
    display: flex;
    flex-direction: row;
    box-shadow: 0px 0px 8px 0.5px cyan;
}

#destaques>img {
    width: 100%;
}

#mid-content-index {
    justify-content: center;
    display: flex;
    gap: 50px;
    margin: 50px;
}

#top-posts {
    box-shadow: 0px 0px 8px 0.5px cyan;
}

#ranking-index {
    box-shadow: -1px -1px 8px 0.5px black;
    background-color: black;
    height: 200px;
    width: 100%;
}

.container {
    width: 50%;
}

.textao {
    background-color: var(--cor-secundaria);
    padding: 50px;
    margin: 0 30px;
}

.column {
    display: flexbox;
}

/* ------------------------------------ Quem somos ------------------------------------ */

#descricao {
    margin-top: 20vh;
    margin-bottom: 50px;
    display: flex;
    flex-direction: column;
    gap: 10px;
    width: 100%;
    height: fit-content;
    align-content: center;
    text-align: center;
}

#mid-content {
    height: fit-content;
    text-align: center;
}

#carrossel {
    display: flex;
    justify-content: space-around;
    margin-top: 20px;
}

.bloquinho {
    width: 400px;
    height: 600px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 8%;
    background: linear-gradient(to top, #2F68CE, #4C3BB0, #0029FF);
    border-radius: 75px;
    padding: 50px;
}

.pessoinha {
    width: 250px;
    height: 250px;
    overflow: hidden;
    border-radius: 50%;
}

.pessoinha>img {
    width: 250px;
}

.missao_visao_valores {
    background-color: var(--cor-secundaria);
    padding: 50px;
    border-radius: 50px;
    margin: 50px 20px;
}

.missao_visao_valores h2, .missao_visao_valores p {
    margin: 10px 0;
    font-family: Graduate;
    text-align: justify;
}

/* ------------------------------------ Cadastro ------------------------------------ */

.alinhar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.Principal{ 
    width: 60%;
    background-color: var(--cor-secundaria);
    margin: 50px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.titulo{
    display: flex;
    justify-content: center;
    font-family: 'Graduate';
    font-size: 50px;
    margin-top: 50px;
}

.cadastro{
    height: auto;
    font-size: 30px;
    width: 60%;
    margin-top: 20px;
    font-family: 'Graduate';
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#User{
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#img_user{
    height: auto;
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
}

#Carregar{
    border-radius: 7px;
    padding: 3px 10px 3px 10px;
    color: black;
    border: none;
}

.titulo>p{
    text-shadow: 4px 3px black;;
}


form{
    display: flex;
    justify-content: center;
    flex-direction: column;
    font-size: large;
}

input{
    width: 100%;
    height: 3rem;
    border-radius: 4px;
    border: none;
    box-shadow: 2px 3px black;
    margin-top: 5px;
    margin-bottom: 15px;
    color: black;
    text-indent: 10px;
    font-size: 1.5rem;
}

#formCad{
    width: 50%;
    height: 70%;
}

.cadastroButons{
    display: flex;
    justify-content: space-around;
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 100%;
}

.buton{
    width: 250px;
    height: 50px;
    border: none;
    border-radius: 8px;
    box-shadow: 5px 6px black;
    margin-bottom: 10px;
    color: black;
    font-family: initial;
    font-size: 23px;
    font-weight: bold;
    cursor: pointer;
}

/* ----------------------------- Dúvidas ----------------------------- */

.help-section {
    text-align: center;
    max-width: 80vw;
    margin: auto;
    min-width: 300px;
}
 
.help-section h1 {
    font-size: 2em;
    margin-bottom: 20px;
}
 
.search-box {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
}
 
.search-box input {
    padding: 10px;
    font-size: 1em;
    width: 70%;
    border: none;
    border-radius: 5px 0 0 5px;
    outline: none;
    color: black;
}
 
.search-box button {
    padding: 10px;
    font-size: 1em;
    background-color: #6c5ce7;
    border: none;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}
 
.search-box button:hover {
    background-color: #81ecec;
}
 
.faq-item {
    background-color: var(--cor-secundaria);
    padding: 20px;
    border-radius: 10px;
    margin-bottom: 20px;
}

.faq-item h3 {
    font-size: 1.2em;
    margin-bottom: 10px;
}

/* ----------------------------- Desafios ----------------------------- */
 
.level-section {
    margin-bottom: 40px;
}
 
.challenge {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
}
 
.challenge.inic {
    background-color: #4CAF50;
}
 
.challenge.intermed {
    background-color: #B8860B;
}
 
.challenge.avan {
    background-color: #8B0000;
}
 
.codar-btn {
    background-color: #7C05F2;
    color: white;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-size: 16px;
    border-radius: 0px 20px;
    bottom: -35px; 
}

/* ----------------------------- Games ----------------------------- */


#principal{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin:5%;
    margin-left: auto;
    margin-right: auto;
}
 
img{
    max-width: 80%;
}
 
#im1{
    max-width:72%;
}
 
body{
    background-color: #010626;
}
 
.row1{
    text-align: center;
}
 
.paragrafo {
    width: 80%;
    color: #FFFF;
}
 
.subtitulo {
    color: #FFFF;
    font-size: 25px;
}
 
#tituloGames{
    margin-top: 20px;
    margin-bottom: 20px;
}
 
.botao1 {
    width: 13%;
    height: 13%;
    background:#7C05F2;
    color: #FFFFFF;
    border-radius: 0px 20px 0px 20px;
    bottom: auto;
}

/* ----------------------------- Recursos ----------------------------- */

.principal1{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 70%;
    height: 70vh;
    margin: auto;
    margin-top: 150px;
    border: 3px solid #7C05F2;
}

/* ----------------------------- Rodapé ----------------------------- */

footer {
    color: #FFFFFF;
    padding: 5px;
    background-color: #021859;
    font-family: Roboto;
    justify-content: space-between;
    height: 150px;
    display: flex;
    margin-top: 50px;
    position: relative;
    bottom: 0;
    left: 0;
}

#redes_sociais {
    display: flex;
    flex-direction: column;
    justify-content: end;
}

#icones_redes_sociais {
    color: #FFFFFF;
    display: flex;
    justify-content: start;
}

#rodape {
    display: flex;
}

#Direito {
    display: flex;
    align-items: end;
    font-size: 12px;
}

.img_rede_social {
    height: 20px;
    margin-right: 10px;
    margin-top: 5px;
}

.texto_rodape {
    padding: 6px;
    background-color: rgb(48, 168, 242, 6%);
    border-radius: 8px;
}

.opçoes {
    padding: 4px;
}

.EmpresaContato {
    margin-right: 1rem;
}

@media (max-width: 900px) {
    .img_logo+h1 {
        display: none;
    }
    #burger {
        display: flex;
        align-items: center;
        margin-right: 50px;
    }
    #menu {
        display: none;
        flex-direction: column;
        background-color: var(--cor-de-fundo);
    }
    #links {
        align-items: center;
    }
    nav menu{
        position: relative;
        top: 60px;
    }
    #slogan {
        font-size: 3rem;
    }
}